<!--
  Generated template for the InfoDelEvento page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span class="white OpenSansRegular">Oradores</span></ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openShare()" class="shareButton">
        <img src="assets/img/icon-compartir.png"/>
      </button>
    </ion-buttons>
    
  </ion-navbar>
  <ion-toolbar text-center white>
    <span class="gris2">{{orador?.name}}</span>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card class="card-no-padding card-informacion">
      <img src="http://dimmexico.co/pics_orators/{{orador?.picture}}"/>
      <!--<img-loader src="http://dimmexico.co/pics_orators/{{orador?.picture}}" useImg spinner="true"></img-loader>-->
      <ion-card-content>
          <!--<img src="assets/img/texto-din-con-fecha.png" class="titulo-img">-->
          <p class="dim-titulo-chico"><span class="rosa OpenSansBold">DIM</span> - Marzo 8 de 2017</p>
          <ion-card-title class="OpenSansBold">
              {{orador?.name}}
          </ion-card-title>
          <div class="long-text">
              {{orador?.description}}
          </div>
      </ion-card-content>
  </ion-card>

</ion-content>

<div class="sliderContainer" *ngIf="sponsors_items?.length > 2">

  <ion-slides class="sponsors-slider" noSwiping="true" autoplayDisableOnInteraction="false" loop="true" freeMode="true" autoplay="2000">
    <ion-slide *ngFor="let slide of sponsors_items">
      <img src="http://dimmexico.co/pics_sponsors/{{slide?.picture}}"/>
    </ion-slide>
  </ion-slides>

</div>
