<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span class="OpenSansBold white">Participa y Gana</span></ion-title>
  </ion-navbar>

  <div class="subHeader">
    <ion-card-header class="gris2 card-header-subtitle text-center">
      <h5>Bienvenido, {{name}}</h5>
      <ion-note item-right>
        Trivia: {{trivia}}
      </ion-note>
    </ion-card-header>
  </div>

  <div class="subHeader">
    <ion-card-header class="background-rosa card-header-subtitle-2">
      Seleccione una Sala
      <ion-icon name="arrow-down" item-right></ion-icon>
    </ion-card-header>
  </div>

</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Desliza hacia abajo"
      refreshingSpinner="circles"
      refreshingText="Recargando...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="condicion" class="Background-gray divMarca contenedor"><h3 class="Leter-Grey">No hay salas disponibles</h3></div>
      <ion-list radio-group [(ngModel)]="answer">
      <ion-item *ngFor="let item of items">
        <ion-label>{{item.room}}</ion-label>
        <ion-radio value="{{item.room}}" (click)="model.options = item.id"  ></ion-radio>
      </ion-item>
  </ion-list>
      <div class="divMarca contenedor">
      <button [disabled]="!answer" ion-button full round class="button-home background-gris3" (click)="onclick(model.options,answer)">Siguiente</button>
    </div>
</ion-content>
