<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Participa y Gana</ion-title>
  </ion-navbar>

  <div class="subHeader">
    <ion-card-header class="gris2 card-header-subtitle text-center">
      <span >Registrate</span>
    </ion-card-header>
  </div>

</ion-header>

<ion-content padding>

    <div>
      <button ion-button icon-right class="facebookButton button-home" round block (click)="facebookLogin()">
        Acceder con Facebook
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <br>
    </div>

  <form novalidate [formGroup]="todo" (ngSubmit)="onLogin()">
    <ion-list>

      <ion-item>
        <!--<ion-label floating>Email</ion-label>-->
        <ion-input type="text" placeholder="Email" formControlName="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <!--
      <ion-item *ngIf="!todo.controls.email.valid  && todo.controls.email.touched">
        <p>Introduzca un email.</p>
      </ion-item>
      -->

      <ion-item>
        <!--<ion-label floating>Password</ion-label>-->
        <ion-input type="password" placeholder="Password" formControlName="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <!--
      <ion-item *ngIf="!todo.controls.password.valid  && todo.controls.password.touched">
        <p>Introduzca una contraseña.</p>
      </ion-item>
      -->
    </ion-list>


    <p class='OpenSansItalic gris1' text-center (click)="launch('http://dimmexico.co/forgot-password')">¿Se te olvidó la contraseña? </p>


    <button ion-button class="background-rosa button-home" round block type="submit" [disabled]="!todo.valid">Iniciar Sesión</button>

  </form>


  <div>
      <button ion-button class="background-gris3 button-home" round block (click)="onclick()"> Registrate</button>
  </div>

  <p class='rosa OpenSansItalic'>Nota: Apple no se encuentra relacionado con el concurso de ningun modo. </p>

</ion-content>
